<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href=" css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="header-logo">
        <a href="#"> <img src="images\siteLogo-pc@2x (3).png" alt="" /></a>
      </div>
      <div class="header-nav">
        <ul>
          <li><a href="#">TOP</a></li>
          <li><a href="#">PRODUCT</a></li>
          <li><a href="#">ABOUT</a></li>
          <li><a href="#">NEWS</a></li>
          <li><a href="#">CONTACT</a></li>
        </ul>
      </div>
    </header>
    <div class="background-container">
      <div class="slide">
        <img src="images\main_visual_2-0x0.jpg" alt="" />
        <img src="images\main_visual_13-0x0.jpg" alt="" />
        <img src="images\main_visual_7-0x0.jpg" alt="" />
        <img src="images\main_visual_6-0x0.jpg" alt="" />
        <img src="images\main_visual_111-0x0.jpg" alt="" />

        <div class="bottom-cover">
          <img src="images\mainVisual-overlay@2x.png" alt="" />
        </div>
        <div class="under-mark">
          <img src="images\mainVisual-arrow@2x.png" alt="" />
        </div>
      </div>
    </div>
    <!-- <div class="main">
      <h1>旅に出よう。</h1>
    </div> -->
  </body>
</html>
