<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
      integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="header-top">
        <div class="container">
          <div class="header-logo">
            <img
              src="images/logo (1).png"
              alt="一般社団法人　人間力認定協会　ロゴマーク"
            />
          </div>
        </div>
      </div>
      <div class="container">
        <div class="header-main">
          <h2>
            実用性と有用度の高い資格 ずば抜けたタイピングスキルをあなたにお届け
          </h2>
          <h1>タッチタイピング検定</h1>
          <article><p>スキルの見える化で 就職活動に役立つ</p></article>
          <article><p>入力速度が上がり 作業効率アップ</p></article>
          <article><p>今すぐにでも 受験できるお手軽さ</p></article>
        </div>
      </div>
    </header>
  </body>
</html>
