<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1><img src="images/siteTitle.png" width="260px" alt="" /></h1>

      <div class="description">
        <p>‟地域に根付いた歯科医院” デンタル クリニック</p>
      </div>
      <p class="tel"><img src="images/bgTel.png" alt="" />03-0000-0000</p>
      <p class="time">予約受付時間 10:00~19:30 <span> 日祝 休診</span></p>
      <div class="header-introduction">
        <ul>
          <li>
            <a href="#"
              ><p class="ja">トップページ</p>

              <p class="eu">HOME</p></a
            >
          </li>
          <li>
            <a href="#"
              ><p class="ja">医療紹介</p>

              <p class="eu">CLINIC</p></a
            >
          </li>
          <li>
            <a href="#"
              ><p class="ja">診療案内</p>

              <p class="eu">SERVICE</p></a
            >
          </li>
          <li>
            <a href="#"
              ><p class="ja">院長・スタッフ紹介</p>

              <p class="eu">STAFF</p></a
            >
          </li>
          <li>
            <a href="#"
              ><p class="ja">アクセス</p>

              <p class="eu">ACCESS</p></a
            >
          </li>
        </ul>
      </div>
    </header>
  </body>
</html>
