<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link href="/fa/font-awesome.css" rel="stylesheet" type="text/css" /> -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header-left">
          <img src="images\logo.png" alt="" />
        </div>
      </div>
    </header>
    <div class="A-wrapper">
      <div class="container">
        <h2>実用性と有用度の高い資格</h2>
        <h2>
          <span class="casen">ずば抜けたタイピングスキル</span>をあなたにお届け
        </h2>
        <h1>タッチタイピング検定</h1>
        <div class="useful-wrapper">
          <div class="useful">
            <p>
              スキルの見える化で<br />
              就職活動に役立つ
            </p>
          </div>
          <div class="useful">
            <p>
              入力速度が上がり<br />
              作業効率アップ
            </p>
          </div>
          <div class="useful">
            <p>
              今すぐにでも<br />
              受験できるお手軽さ
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="B-wrapper">
      <div class="container">
        <div class="question">
          <p>
            なぜタイピングスキルの<br />
            資格を取得する必要があるの？
          </p>
          <p>今タイピングの出来ない若者が社会問題に！</p>
          <p>
            <span>つまりタイピング資格が“武器”となる</span><br />時代なのです。
          </p>
        </div>
      </div>
    </div>
    <div class="C-wrapper">
      <div class="container">
        <div class="reason-container">
          
          <h3>タッチタイピング検定が選ばれる</h3>
          <h2> 3つの理由 <h2>          

          <section class="reason">
            <img src="images/riyuu1 (1).jpg" alt="" />
            <h3>好きな時に受験できる随時試験！</h3>
            <p>
              オンラインでの受験が可能なので、365日いつでもタッチタイピング検定の受験がOK。いつもの環境で、心身ともに整った状態で受験ください。
            </p>
          </section>

          <section class="reason">
            <img src="images/riyuu2 (1).jpg" alt="" />
            <h3>テンキーによる数字入力部門！</h3>
            <p>
              経理業務や売上管理などで数字入力は必須スキルです。テンキーもキーを見ないで入力することが出来れば、かなり業務効率が向上します！
            </p>
          </section>

          <section class="reason">
            <img src="images/riyuu3 (1).jpg" alt="" />
            <h3>小学生でも受験できるカナ対応！</h3>
            <p>
              ITスキルに年齢は関係ありません。タッチタイピング検定の公式テキストは、すべての文字にカナを振っています。学生にも人気の資格です！
            </p>
          </section>
          
        </div>
      </div>
    </div>
  </body>
</html>
