<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, userscalable=no"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link href="/fa/font-awesome.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/images" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="header-logo">
        <img src="/images/logo.svg" />
      </div>
      <ul class="header-nav">
        <li><a href="">NEW</a></li>
        <li><a href="">COLUMN</a></li>
        <li><a href="">SERIES</a></li>
        <li><a href="">Q&A</a></li>
        <li><a href="">CONTACT</a></li>
      </ul>
    </header>
    <div class="container">
      <div class="pickup-wrapper">
        <div class="pickup-1">
          <img src="/images/pickup1.jpg" width="373.75" height="210.23" />
          <h3>
            タイトルテキストテキストテキストテキストテキストテキストテキスト
          </h3>
          <a href="">READ MORE</a>
        </div>
        <div class="pickup-2">
          <img src="/images/pickup2.jpg" width="373.75" height="210.23" />
          <h3>
            タイトルテキストテキストテキストテキストテキストテキストテキスト
          </h3>
          <a href="">READ MORE</a>
        </div>
        <div class="pickup-3">
          <img src="/images/pickup3.jpg" width="373.75" height="210.23" />
          <h3>
            タイトルテキストテキストテキストテキストテキストテキストテキスト
          </h3>
          <a href="">READ MORE</a>
        </div>
      </div>
      <div class="main-wrapper"></div>
      <div class="aside-wrapper"></div>
      <footer></footer>
    </div>
  </body>
</html>
