<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0," />
    <link rel="stylesheet" href="/css/style.css" />
    <link href="/fa/font-awesome.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/images" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />

    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="header-logo">
        <img src="/images/logo.svg" />
      </div>
      <div class="header-nav">
        <ul class="nav-wrapper">
          <li><a href="">NEW</a></li>
          <li><a href="">COLUMN</a></li>
          <li><a href="">SERIES</a></li>
          <li><a href="">Q&A</a></li>
          <li><a href="">CONTACT</a></li>
        </ul>
      </div>
    </header>
    <div class="container">
      <div class="pickup-wrapper">
        <div class="pickup-1">
          <img src="/images/pickup1.jpg" />
          <h3>
            タイトルテキストテキストテキストテキストテキストテキストテキスト
          </h3>
          <div class="readmore">
            <a href="">READ MORE</a>
          </div>
        </div>
        <div class="pickup-2">
          <img src="/images/pickup2.jpg" />
          <h3>
            タイトルテキストテキストテキストテキストテキストテキストテキスト
          </h3>
          <div class="readmore">
            <a href="">READ MORE</a>
          </div>
        </div>
        <div class="pickup-3">
          <img src="/images/pickup3.jpg" />
          <h3>
            タイトルテキストテキストテキストテキストテキストテキストテキスト
          </h3>
          <div class="readmore">
            <a href="">READ MORE</a>
          </div>
        </div>
      </div>
      <div class="main-wrapper">
        <a href=""><h2>タイトルテキストテキストテキストテキストテキスト</h2></a>
        <ul>
          <li>
            <a href=""><time>2020/01/01</time></a>
          </li>
          <li><a href="">カテゴリ1</a></li>
        </ul>
        <img src="/images/main1.jpg" />
      </div>
      <div class="aside-wrapper">
        <div class="sideber">
          <div class="sideber-img">
            <img src="/images/author.jpg" />
          </div>
          <h2>Name Name</h2>
        </div>
      </div>
      <footer></footer>
    </div>
  </body>
</html>
