<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, userscalable=no"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link href="/fa/font-awesome.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/images" />
    <title>Document</title>
  </head>
  <body>
    <input type="checkbox" id="menu" />
    <label for="menu" class="close">×</label>
    <label for="menu" class="open"><i class="fa fa-navicon"></i></label>
    <header>
      <h2>header</h2>
    </header>
    <aside>
      <ul>
        <li>list1</li>
        <li>list2</li>
        <li>list3</li>
        <li>list4</li>
        <li>list5</li>
      </ul>
      <footer>footer</footer>
    </aside>
    <main>
      <img src="/images/pickup1.jpg" alt="ak" />
    </main>
  </body>
</html>
