<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1><img src="images/siteTitle.png" width="260px" alt="" /></h1>

      <div class="description">
        <p>‟地域に根付いた歯科医院” デンタル クリニック</p>
      </div>
      <p class="tel"><img src="images/bgTel.png" alt="" />03-0000-0000</p>
      <p class="time">予約受付時間 10:00~19:30 <span> 日祝 休診</span></p>
      <div class="header-introduction">
        <ul>
          <li>
            <a href="#"
              ><p class="ja">トップページ</p>

              <p class="eu">HOME</p></a
            >
          </li>
          <li>
            <a href="#"
              ><p class="ja">医療紹介</p>

              <p class="eu">CLINIC</p></a
            >
          </li>
          <li>
            <a href="#"
              ><p class="ja">診療案内</p>

              <p class="eu">SERVICE</p></a
            >
          </li>
          <li>
            <a href="#"
              ><p class="ja">院長・スタッフ紹介</p>

              <p class="eu">STAFF</p></a
            >
          </li>
          <li>
            <a href="#"
              ><p class="ja">アクセス</p>

              <p class="eu">ACCESS</p></a
            >
          </li>
        </ul>
      </div>
    </header>
    <main>
      <div class="container">
        <figure>
          <img src="images\in01.jpg" alt="" />
        </figure>
        <div class="information">
          <h2>新着情報</h2>

          <dl>
            <dt>
              <time datetime="2012-08-01">2012年08月01日</time>
            </dt>
            <dd>
              【診療時間変更のお知らせ】長期休診の前日8月11日は、通常より1時間長く診療をすることにしました。ご予約をお待ちしております。
            </dd>
            <dt>
              <time datetime="2012-07-24">2012年07月24日</time>
            </dt>
            <dd>
              【8月の休診のお知らせ】8月12日～16日の間は休診とさせていただきます。何卒よろしくお願いいたします。
            </dd>
            <dt>
              <time datetime="2012-07-02">2012年07月02日</time>
            </dt>
            <dd>
              【こどもデンタル教室のご案内】毎月第2土曜日に行っているこどもデンタル教室では、参加してくださるお子様を募集しております。
            </dd>
            <dt>
              <time datetime="2012-06-20">2012年06月20日</time>
            </dt>
            <dd>
              【7月休診日のお知らせ】7月は土日祝日以外の休診日はありません。ご来院お待ちしております。
            </dd>
            <dt>
              <time datetime="2012-06-01">2012年06月01日</time>
            </dt>
            <dd>ホームページをリニューアルしました。</dd>
          </dl>
        </div>
        <div class="medical-care">
          <section>
            <h2>一般歯科</h2>
            <ul class="care-1">
              <a href="#"> <li>虫歯治療</li></a>
              <a href="#"> <li>歯周病治療</li></a>
              <a href="#"> <li>入れ歯</li></a>
              <a href="#"> <li>予防歯科</li></a>
            </ul>
          </section>
          <section>
            <h2>審美歯科</h2>
            <ul class="care-2">
              <a href="#"> <li>ホワイトニング</li></a>
              <a href="#"> <li>オールセラミック</li></a>
              <a href="#"> <li>セラミックインレー</li></a>
              <a href="#"> <li>ＰＭＴＣ</li></a>
            </ul>
          </section>
        </div>
      </div>
    </main>
    <footer>
      <div class="container">
        <ul>
          <a href="#"> <li>トップページ</li></a>
          <a href="#"> <li>医療紹介</li></a>
          <a href="#"> <li>診療案内</li></a>
          <a href="#"> <li>院長・スタッフ紹介</li></a>
          <a href="#"> <li>アクセス</li></a>
        </ul>
        <div class="footer-address">
          <p>
            <strong>デンタルクリニック</strong><br />
            東京都新宿区市谷左内町21-13<br />
            TEL:03-0000-0000
          </p>
        </div>
        <div class="footer-copyright">
          <small>
            Copyright&copy;2012 Dental Clinic co.,LTD All Rights
            Reserved.</small
          >
        </div>
      </div>
    </footer>
  </body>
</html>
