html {
  font-size: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  min-height: 150vh;
  font-family: "Noto Sans", "Noto Sans JP", sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #333;
}
ul {
  padding: 0;
  margin: 0;
}
.header-logo {
  line-height: 60%;
  padding: 20px 16px;
  max-width: 1168px;
  min-width: 480px;
  margin: 0 auto;
  flex: 1;
}
header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: white;
}

.header-nav {
  background-color: black;
  opacity: 0.8;
}
.nav-wrapper {
  display: flex;
  list-style: none;
  max-width: 1168px;
  min-width: 480px;

  margin: 0 auto;
  line-height: 38.667px;
  padding: 0 16px;
}
header li {
  padding-right: 60px;
}
header a {
  text-decoration: none;
  font-size: 14px;
  color: white;
}
.container {
  max-width: 1200px;
  min-width: 480px;
  margin: 0 auto;
  padding: 150px 16px 0;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.pickup-wrapper {
  display: flex;
  max-width: 1168px;
  min-width: 480px;
  flex: 100%;
  justify-content: space-between;
  background-color: whitesmoke;
  margin-bottom: 60px;
}
.pickup-1,
.pickup-2,
.pickup-3 {
  width: 32%;
}
.pickup-wrapper img {
  width: 100%;
  height: auto;
}
.readmore {
  text-align: center;
  font-size: 14px;
}
.readmore a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
  position: relative;
  padding-bottom: 1px;
}
.readmore a::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #333;
  transition: all 200ms ease;
}
.readmore a:hover::after {
  transform: translateY(3px);
  opacity: 0;
}
.pickup-wrapper h3 {
  font-size: 1rem;
  margin: 10px 0 15px;
}
.main-wrapper {
  width: 65%;
  box-sizing: border-box;
  height: 2341px;
}
.article {
  margin-bottom: 80px;
}
.main-wrapper h2 {
  margin: 10px 0 15px;
}
.main-wrapper ul {
  display: flex;
  margin-bottom: 10px;
}
.main-wrapper li {
  list-style: none;
  font-size: 14px;
  margin-right: 20px;
}
.main-wrapper img {
  width: 100%;
  height: auto;
}
.main-wrapper p {
  padding: 10px 40px 30px;
  margin: 0;
}
.aside-wrapper {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.sideber {
  padding: 20px;
  width: 94%;
  box-sizing: border-box;
}
.section-author {
  text-align: center;
  margin-bottom: 60px;
}
.section-author img {
  width: 37%;
  border-radius: 50%;
  margin: 0 0 30px;
}
.section-author h2 {
  margin: 0;
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
}
.section-author p {
  margin: 0;
  font-size: 14px;
  text-align: left;
}
.section-ranking {
  margin: 0 0 60px;
}
.section-ranking h3 {
  margin: 0 0 30px;
  text-align: center;
}
.section-ranking img {
  width: 100%;
  height: auto;
}
.section-ranking p {
  margin: 0 0 30px;
  font-size: 14px;
}
.archive {
  border-bottom: solid 1px #333;
}
.archive h3 {
  text-align: center;
  margin: 0 0 30px;
}
.archive li {
  list-style: none;
  padding: 20px;
  font-size: 14px;
  border-top: solid 1px #333;
}
footer {
  width: 100%;
  margin: 60px 0 0;
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  font-weight: normal;
  margin-bottom: 50px;
  /* padding-top: 50px; */
}
.footer-section {
  width: 30%;
  margin-top: 50px;
}
.footer-section h3 {
  margin: 0 0 30px;
}
.footer-section p {
  font-size: 14px;
  color: #333;
}
.about ul {
  margin: 20px 0;
}
.about li {
  font-size: 14px;
  list-style: none;
  margin-bottom: 5px;
}
.about a {
  position: relative;
  padding-left: 10px;
}
.about a::before {
  position: absolute;
  left: 0px;
  top: 3px;
  width: 0px;
  height: 0px;
  content: "";
  border-top: 6px solid transparent;
  border-left: 8px solid black;
  border-bottom: 6px solid transparent;
}
.menu li {
  padding: 15px;
  list-style: none;
  font-size: 14px;
  border-top: 1px solid #333;
}
.menu {
  border-bottom: 1px solid #333;
}
