body {
  margin: 0;
  padding: 0;
  min-height: 150vh;
  display: flex;
}
input {
  position: absolute;
  left: -50vw;
}
h2 {
  padding: 0;
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  text-align: center;
  line-height: 24px;
}
.open,
.close {
  position: fixed;
  z-index: 2;
  top: 0px;
  left: 10px;
}
.open {
  background-color: white;
}
aside {
  width: 20vw;
  min-width: 200px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  display: none;
}
footer {
  width: 100%;
  margin: auto;
  height: 150px;
}
main {
  /* flex: 1; */
  width: 100%;
  margin-top: 24px;
}
input[type="checkbox"]:checked ~ aside {
  display: flex;
}
input[type="checkbox"]:checked ~ .open {
  display: none;
}
@media (min-width: 900px) {
  body {
    min-height: 100vh;
  }
  .open,
  .close {
    display: none;
  }
  aside {
    display: flex;
  }
  main {
    width: 700px;
    margin: 0 auto;
  }
}
