html {
  font-size: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  min-height: 150vh;
  font-family: "Noto Sans", "Noto Sans JP", sans-serif;
}
a {
  text-decoration: none;
  color: #333;
}
ul {
  padding: 0;
  margin: 0;
}
.header-logo {
  line-height: 60%;
  padding: 20px 16px;
  max-width: 1168px;
  min-width: 480px;
  margin: 0 auto;
  flex: 1;
}
header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: white;
}

.header-nav {
  background-color: black;
  opacity: 0.8;
}
.nav-wrapper {
  display: flex;
  list-style: none;
  max-width: 1168px;
  min-width: 480px;

  margin: 0 auto;
  line-height: 38.667px;
  padding: 0 16px;
}
header li {
  padding-right: 60px;
}
header a {
  text-decoration: none;
  font-size: 14px;
  color: white;
}
.container {
  max-width: 1200px;
  min-width: 480px;
  margin: 0 auto;
  padding: 150px 16px 0;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.pickup-wrapper {
  display: flex;
  max-width: 1168px;
  min-width: 480px;
  flex: 100%;
  justify-content: space-between;
  background-color: whitesmoke;
  margin-bottom: 60px;
}
.pickup-1,
.pickup-2,
.pickup-3 {
  width: 32%;
}
.pickup-wrapper img {
  width: 100%;
  height: auto;
}
.readmore {
  text-align: center;
  font-size: 14px;
}
.readmore a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
  position: relative;
  padding-bottom: 1px;
}
.readmore a::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #333;
  transition: all 200ms ease;
}
.readmore a:hover::after {
  transform: translateY(3px);
  opacity: 0;
}
.pickup-wrapper h3 {
  font-size: 1rem;
  margin: 10px 0 15px;
}
.main-wrapper {
  width: 65%;
}
.main-wrapper h2 {
  margin: 10px 0 15px;
}
.main-wrapper ul {
  display: flex;
  margin-bottom: 10px;
}
.main-wrapper li {
  list-style: none;
  font-size: 14px;
  margin-right: 20px;
}
.main-wrapper img {
  width: 100%;
  height: auto;
}
